{% extends "base.html" %}
{% load static %}

{% block content %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-5">
            <div class="col mt-5"></div>
        </div>
    </div>
{% endblock %}

<style>
    .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.card.active {
  opacity: 1;
  z-index: 1;
}

.card.inactive-left {
  opacity: 0;
  transform: translateX(-100%);
  z-index: -1;
}

.card.inactive-right {
  opacity: 0;
  transform: translateX(100%);
  z-index: -1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

/* Add margin-bottom to the container holding the page content */
.container.page-content {
    margin-bottom: 100px;
}

</style>

    <div class="overlay"></div>
    <div class="container page-content">

        <div class="pricing-header mx-auto text-center">
            <h1 class="display-4 fw-normal text-black">Get a quote</h1>
            <p class="fs-5 text-muted">Quickly find out the total cost of your project by filling the form below.</p>
        </div>

    <!-- slide start -->
        <div class="container flex-fill d-flex flex-column min-vh-100">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div id="card-group">
                  <div class="card active" id="card1">
                    <div class="card-body">
                      <h5 class="card-title">Select a type of service</h5>
                      <form id="services">
                        {% for category in categories %}
                        <div class="my-3"></div>
                        <h2>{{ category }}</h2>
                        {% for service in services %}
                            {% if service.category == category %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ service.id }}" id="{{ service.id }}">
                                    <label class="form-check-label" for="{{ service.id }}">
                                        {{ service.name }} - {{ service.description }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% endfor %}
                        <div class="my-5"></div>
                        <button type="button" class="btn btn-lg btn-outline-black mb-3 next-btn">Next</button>
                        <div class="my-5"></div>
                      </form>
                    </div>
                  </div>
                  <div class="card" id="card2">
                    <div class="card-body">
                      <h5 class="card-title">Select a package</h5>

                      <form method="post" action="{% url 'add_to_bag' item_id=product.id %}" id="products" class="form">
                        {% csrf_token %}
                        <h2>{{ category }}</h2>
                        {% for product in products %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ product.id }}" id="{{ product.id }}">
                                <label class="form-check-label" for="{{ product.id }}">
                                    {{ product.name }}
                                </label>
                            </div>
                        {% endfor %}
                        
                        <div class="my-5"></div>
                        <button type="button" class="btn btn-lg btn-outline-black mb-3 back-btn">Back</button>
                
                        <input class="form-control qty_input" type="hidden" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <input type="submit" class="btn btn-lg btn-outline-black" value="Select this plan" onclick="quoteDisplay()">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        
                        <button type="submit" class="btn btn-lg btn-outline-black mb-3 next-btn">Next and add to bag</button>
                        <div class="my-5"></div>
                    </form>

                    </div>
                  </div>
                  <div class="card" id="card3">
                    <div class="card-body">
                      <form>
                        <div id="quote" >
                            <h2 class="display-6 text-center mt-5">Your quote is:</h2>
                            <div class="text-center">
                                <h2 class="my-0 mp-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </h2>
                                {% if bag_items %}
                                <ul>
                                    {% for item in bag_items %}
                                    <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                <p>Product Count: {{ product_count }}</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <p class="fs-5 text-muted text-center">How does the pricing work? <a href="{% url 'terms' %}" class="oblique">Click here</a> to find out more</p>
                            
                            <h3 class="display-6 text-center mb-4">Would you like to continue?</h3>
                            <a href="{% url 'view_bag' %}" class="btn btn-lg btn-outline-black mb-3">Yes, continue to checkout</a>
                            <h3 class="display-6 text-center mb-4">Or, save this quote and get in touch:</h3>
                        </div>
                        <div class="form-group">
                            <label for="input6">Please write your name:</label>
                            <input type="text" class="form-control" id="input6" placeholder="">
                        </div>
                        <div class="row mt-5">
                            <button type="button" class="btn btn-lg btn-outline-black mb-3 back-btn">Back</button>
                            <button type="submit" class="btn btn-lg btn-outline-black mb-3">Submit</button>
                        </div>
                        <div class="my-5"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- slide end -->

        <script>
        // Get all the cards and hide all except the first one
        const cards = document.querySelectorAll('.card');
        for (let i = 1; i < cards.length; i++) {
        cards[i].classList.add('inactive-right');
        }

        // Add a click event listener to the "Next" button
        const nextButtons = document.querySelectorAll('.next-btn');
        nextButtons.forEach((nextButton) => {
        nextButton.addEventListener('click', (event) => {
            event.preventDefault();

            // Get the current card and the next card
            const currentCard = event.target.closest('.card');
            const nextCard = currentCard.nextElementSibling;

            // Add the appropriate classes to the current and next cards
            currentCard.classList.add('inactive-left');
            currentCard.classList.remove('active');
            nextCard.classList.add('active');
            nextCard.classList.remove('inactive-right');
        });
        });

        // Add a click event listener to the "Back" button
        const backButtons = document.querySelectorAll('.back-btn');
        backButtons.forEach((backButton) => {
        backButton.addEventListener('click', (event) => {
            event.preventDefault();

            // Get the current card and the previous card
            const currentCard = event.target.closest('.card');
            const prevCard = currentCard.previousElementSibling;

            // Add the appropriate classes to the current and previous cards
            currentCard.classList.add('inactive-right');
            currentCard.classList.remove('active');
            prevCard.classList.add('active');
            prevCard.classList.remove('inactive-left');
        });
        });
        </script>

</div>
{% endblock %}