{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="header-black mt-5">TERMS OF SERVICE</h2>
                <p>
                    This notice sets out the terms of service for graphic design services provided by Ariane Saulnier, a freelance graphic designer. By engaging the services of Ariane Saulnier, you agree to be bound by these terms.
                    <br>
                    <div class="my-5"></div>
                    <h3>PRICING:</h3>
                    The pricing for graphic design services will be based on the specific project requirements and will be agreed upon in advance between the designer and the client. The pricing will be calculated based on the estimated time and effort required to complete the project, as well as any additional expenses, such as software licenses, stock images or fonts. Any changes to the scope of work will be discussed with the client, and any additional costs will be agreed upon in writing prior to commencing the work.
                    <br>
                    <div class="my-5"></div>
                    <h3>PAYMENT TERMS:</h3>
                    A deposit of 10% of the total project cost is required before the designer commences any work. The balance of the payment is due upon completion of the project, and prior to delivery of any final files. All invoices are payable within 30 days of the invoice date.
                    <br>
                    <div class="my-5"></div>
                    <h3>CANCELLATION AND REFUND POLICY:</h3>
                    If the client decides to cancel the project before its completion, any work completed up to that point will be invoiced and payable within 30 days of the invoice date. The deposit paid is non-refundable. If the client is not satisfied with the final design, the designer will work with the client to revise the design until the client is satisfied. However, if the client decides to cancel the project after the final design has been approved and delivered, no refunds will be provided.
                    <br>
                    <div class="my-5"></div>
                    <h3>OWNERSHIP AND COPYRIGHT:</h3>
                    Upon receipt of full payment, the client will own the final artwork and designs created by the designer. Any preliminary concepts or materials remain the property of the designer. The designer retains the right to use any work created for promotional purposes and to display such work in their portfolio.
                    <br>
                    <div class="my-5"></div>
                    <h3>CONFIDENTIALITY:</h3>
                    The designer acknowledges that any information or materials provided by the client is confidential and will not be shared with any third party without the client’s prior written consent. This confidentiality obligation will survive the termination of this agreement.
                    <br>
                    <div class="my-5"></div>
                    <h3>LIMITATION OF LIABILITY:</h3>
                    The client agrees that the designer will not be liable for any indirect, consequential or special damages, including loss of profit or business interruption, arising out of or in connection with the services provided by the designer.
                    <br>
                    <div class="my-5"></div>
                    <h3>JURISDICTION:</h3>
                    These terms and conditions are governed by the laws of the United Kingdom and any dispute arising out of or in connection with these terms and conditions will be subject to the exclusive jurisdiction.
                    <br>
                    By engaging the services of the designer, you acknowledge that you have read, understood and agree to be bound by these terms and conditions. If you have any questions, please contact Ariane Saulnier prior to engaging their services.
                <br>
                <div class="my-5"></div>
            </div>
        </div>
    </div>
    

{% endblock %}

{% block postloadjs %}

{% endblock %}