<div class="row mb-3">
    <div class="col-sm-12 col-md-6 col-lg" style="display:none" id="bronze">
        <div class="card mb-4 rounded-0 ">
            {% for product in products %}
                {% if product.name == "Bronze plan" %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">
                                {{ product.name }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="text-align-left mt-3 mb-4">
                                <li>3 different design choices</li>
                                <li>Up to 3 revisions</li>
                                <li>£5 unrefundable deposit</li>
                                <li>Final product Money Back Guarantee</li>
                                <li>Copyright Ownership of 1 Design</li>
                            </ul>
                            <input type="submit" class="w-100 btn btn-lg btn-outline-black" value="Select this plan" plan="bronze">
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg" style="display:none" id="silver">
        <div class="card mb-4 rounded-0 ">
            {% for product in products %}
                {% if product.name == "Silver plan" %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">
                                {{ product.name }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="text-align-left mt-3 mb-4">
                                <li>6 different design choices</li>
                                <li>Unlimited revisions</li>
                                <li>£10 unrefundable deposit</li>
                                <li>Final product Money Back Guarantee</li>
                                <li>Copyright Ownership of 1 Design</li>
                            </ul>
                            <input type="submit" class="w-100 btn btn-lg btn-outline-black" value="Select this plan" plan="silver">
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg" style="display:none" id="gold">
        <div class="card mb-4 rounded-0 ">
            {% for product in products %}
                {% if product.name == "Gold plan" %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">
                                {{ product.name }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <ul class="text-align-left mt-3 mb-4">
                                <li>10 different design choices</li>
                                <li>Unlimited revisions</li>
                                <li>£15 unrefundable deposit</li>
                                <li>Final product Money Back Guarantee</li>
                                <li>Copyright Ownership of 1 Design</li>
                            </ul>

                        
                            <input type="submit" class="w-100 btn btn-lg btn-outline-black" value="Add to Bag">
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>