@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

@font-face {
    font-family: 'Audrey-Normal';
    src: url('/media/fonts/Audrey-Normal.otf') format('truetype');
  }

@font-face {
    font-family: 'MARCHEVOKED-Demo';
    src: url('/media/fonts/MARCHEVOKED-Demo.otf') format('truetype');
}

@font-face {
    font-family: 'Pask-Personal';
    src: url('/media/fonts/Pask-Personal.otf') format('truetype');
}

@font-face {
    font-family: 'Ade-Display';
    src: url('/media/fonts/Ade-Display.otf') format('truetype');
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: url('/media/photography.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh);
    color: black;
    font-family: 'Lato';
}

.header-container {
    margin-top: 100px;
}

.sonsie {
    font-family: 'Sonsie One', cursive;
  }

.Audrey-Normal {
    font-family: 'Audrey-Normal';
  }

.marchevoked {
    font-family: 'MARCHEVOKED-Demo';
  }

.Pask-Personal {
    font-family: 'Pask-Personal';
  }

.Ade-Display {
    font-family: 'Ade-Display';
  }

/* link style */

a {
    color: grey;
    transition: color .3s ease-in-out;
  }

.oblique {
    font-style:oblique;
}

a:hover,
a:active,
a:focus {
    color:lightgrey;
    text-decoration:none;
  }

.dropdown-item a {
    color:black !important;
}

/* navbar */

.fixed-top {
    background-color: #000;
}


@media screen and (max-width: 1052px) {
    .nav-item {
        font-size: 14px;
    }
}


/* icons */

.card-icon {
    font-size: 4rem;
    margin: 20px;
}

.card-icon-details {
    font-size: 14rem;
}


/* header */

.header-white {
    text-transform: uppercase;
    color:white;
}

.header-black {
    text-transform: uppercase;
    color:black;
}

/* container styles */

.bg-black {
    background-color:black;
}

.content-border {
    border: solid 1px black;
    padding: 30px;
    text-align: center;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* button styles */

.btn-black {
    background: black;
    color: white;
}

.centered-button {
    background: black;
    color: white !important;
    max-width: 260px;
    margin: 0 auto;
    display: block;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
    border-radius: 0%;
    min-width:100px;
    transition: .3s ease-in-out;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.quote-button {
    background: black;
    color: white !important;
    min-width: 260px;
}

.quote-button:hover,
.quote-button:active,
.quote-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* animation */

.animation {
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}

.animation2 {
    opacity: 0;
    transition: opacity 0.7s ease-out;
    transition-delay: 0.4s;
  }
  
  .scroll-animation2 {
    opacity: 1;
  }
  
  .animation3 {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
  }  
  
  .scroll-animation3 {
    opacity: 1;
    transform: translateX(0);
  }  
  
  @media screen and (max-width: 500px) {
    .animation,
    .animation2,
    .animation3 {
      opacity: 1;
      transform: none;
    }
  }
  

/* animation end */

.text-align-left {
    text-align: left !important;
}

/* about */


#about .image-text-wrapper {
    display: inline-block;
    width: 100%;
  }
  
  #about img {
    float: right;
    width: 30%;
    margin-left: 20px;
    display: block;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
  }  
  
  @media (max-width: 576px) {
    #about img {
      float: none;
      margin: 0 auto 20px;
      display: block;
      width: 50%;
      transform: rotate(-10deg);
    }
  }
  

@media (max-width: 412px) {
    #about img {
        width: 50%;
        height: auto;
    }
  }
  
.review {
    margin: 40px;
    padding: 80px;
}

@media (max-width: 412px) {
    .review {
        margin: 0px;
    }
  }

/* portfolio */

#project-right img {
    float: right;
    width: 60%;
    height:auto;
    margin-left:30px; 
    margin-bottom: 30px;
  }

#project-left img {
    float: left;
    width: 60%;
    height:auto;
    margin-right:30px; 
    margin-bottom: 30px;
  }

@media (max-width: 412px) {
    #project-right img {
        margin-left:10px; 
        margin-bottom:10px;
    }
}

@media (max-width: 412px) {
    #project-left img {
        margin-right:10px; 
        margin-bottom:10px;
    }
}

@media (max-width: 412px) {
    #project img {
        width: 100%;
        height: auto;
    }
  }

.project-button-white {
    background: white;
    color: black !important;
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    border:grey 1px solid;
    padding:30px;
}

.project-button-white:hover {
    color: grey !important;
    text-decoration: none;
    transition: 0.3s;
}

.project-button-black {
    background: black;
    color: white !important;
    text-transform: uppercase;
    font-size: medium;
    text-align: left;
    border:grey 1px solid;
    padding:30px;
}
.project-button-black:hover {
    color: grey !important;
    text-decoration: none;
    transition: 0.3s;
}

/* Form */

.form a {
    color: black !important;
}

.text-input {
    width: 100%;
    border-radius: 0;
    border-style: 1px solid;
    border: 1px solid grey;
}

#thankyou {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-left:50px;
    padding-top: 50px;
}


/* bootstrap toasts */

/* Styling for overlay */
.toast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

/* Styling for toast */
.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }  
  
  
/* footer */

.footer {
    padding: 80px;
    display: flex;
}

.footer-bg-black {
    background-color: #000 !important;
}

.footer-bg-black a {
    color: #FFF !important;
}

.footer a:hover {
    color: grey !important;
    text-decoration: none;
    transition: 0.3s;
}

@media (max-width: 900px) {
    .footer {
        padding: 20px;
    }
}

/* Styles for mobile devices */
@media (max-width: 576px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}

/* social */

#social i {
    font-size:xx-large;
    letter-spacing: 20px;
}

@media (max-width: 900px) {
    #social {
        padding-bottom: 40px;
    }
}

@media (max-width: 500px) {
    #social {
        padding-bottom: 40px;
    }
}

/* search */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* Stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* checkout loading spnnier */

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
