<div class="row mb-3 text-center">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card mb-4 rounded-0 ">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Branding design</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><i class="fa-regular fa-address-card"></i></h1>
                <div class="card-service">
                    Crafting a strong brand identity isn't easy! Designers have the important task of finding the perfect visual identity to represent a company or product.
                </div>
                <ul class="text-align-left mt-3 mb-4">
                    <li>Logo</li>
                    <li>Business cards</li>
                    <li>Promotional flyers...</li>
                </ul>
                
                <button type="button" service="branding" class="w-100 btn btn-lg btn-outline-black">Select this service</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card mb-4 rounded-0 ">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Website</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><i class="fa-sharp fa-solid fa-desktop"></i></h1>
                <div class="card-service">
                    Web designers use their creative powers to make sure your digital experiences are seamless and enjoyable while tying in the client's unique branding.
                </div>
                <ul class="text-align-left mt-3 mb-4">
                    <li>Website</li>
                    <li>Blog</li>
                    <li>Online portfolio...</li>
                </ul>

                <button type="button" service="website" class="w-100 btn btn-lg btn-outline-black">Select this service</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card mb-4 rounded-0">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Illustration design</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><i class="fa-solid fa-book"></i></h1>
                <div class="card-service">
                    Illustrations capture the attention of your target market with beautiful book and magazine covers, plus creative page layouts.
                </div>
                <ul class="text-align-left mt-3 mb-4">
                    <li>Album cover</li>
                    <li>Magazine images</li>
                    <li>Storybook...</li>
                </ul>

                <button type="button" service="illustration" class="w-100 btn btn-lg btn-outline-black">Select this service</button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card mb-4 rounded-0">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Full-package</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title"><i class="fa-solid fa-laptop-file"></i></h1>
                <div class="card-service">
                    Launching a business? This design package has it all - a one-of-a-kind website, plus a business logo, printed materials and packaging.
                </div>
                <ul class="text-align-left mt-3 mb-4">
                    <li>Website</li>
                    <li>Branding products</li>
                    <li>...and more!</li>
                </ul>

                <button type="button" service="fullpackage" class="w-100 btn btn-lg btn-outline-black">Select this service</button>
            </div>
        </div>
    </div>
</div>