{% extends "base.html" %}
{% load static %}

{% block content %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-5">
            <div class="col mt-5"></div>
        </div>
    </div>
{% endblock %}

    <div class="overlay"></div>
    <div class="container mb-2">

        <div class="pricing-header mx-auto text-center">
            <h1 class="display-4 fw-normal text-black">Get a quote</h1>
            <p class="fs-5 text-muted">Quickly find out the total cost of your project by filling the form below.</p>
        </div>

        <h2 class="display-6 text-center mb-4">Select a service</h2>

        {% include 'products/includes/service.html' %}
        

        <div style="display:none" id="branding2">
            <h2 class="display-6 text-center mb-4">Select a package</h2>
            
            {% include 'products/includes/package.html' %}

        
        <div id="plan" style="display:none">
            <h2 class="display-6 text-center mb-4">Select a plan</h2>
        </div>


        <div class="row mb-3">
            <div class="col-sm-12 col-md-6 col-lg" style="display:none" id="bronze">
                <div class="card mb-4 rounded-0 ">
                    {% for product in products %}
                        {% if product.name == "Bronze plan" %}
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">
                                        {{ product.name }}
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <ul class="text-align-left mt-3 mb-4">
                                        <li>3 different design choices</li>
                                        <li>Up to 3 revisions</li>
                                        <li>£5 unrefundable deposit</li>
                                        <li>Final product Money Back Guarantee</li>
                                        <li>Copyright Ownership of 1 Design</li>
                                    </ul>
                                    <input type="submit" class="w-100 btn btn-lg btn-outline-black" value="Select this plan" plan="bronze">
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg" style="display:none" id="silver">
                <div class="card mb-4 rounded-0 ">
                    {% for product in products %}
                        {% if product.name == "Silver plan" %}
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">
                                        {{ product.name }}
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <ul class="text-align-left mt-3 mb-4">
                                        <li>6 different design choices</li>
                                        <li>Unlimited revisions</li>
                                        <li>£10 unrefundable deposit</li>
                                        <li>Final product Money Back Guarantee</li>
                                        <li>Copyright Ownership of 1 Design</li>
                                    </ul>
                                    <input type="submit" class="w-100 btn btn-lg btn-outline-black" value="Select this plan" plan="silver">
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg" style="display:none" id="gold">
                <div class="card mb-4 rounded-0 ">
                    {% for product in products %}
                        {% if product.name == "Gold plan" %}
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">
                                        {{ product.name }}
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <ul class="text-align-left mt-3 mb-4">
                                        <li>10 different design choices</li>
                                        <li>Unlimited revisions</li>
                                        <li>£15 unrefundable deposit</li>
                                        <li>Final product Money Back Guarantee</li>
                                        <li>Copyright Ownership of 1 Design</li>
                                    </ul>

                                
                                    <input type="submit" class="w-100 btn btn-lg btn-outline-black" value="Add to Bag">
                                </div>
                            </form>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        
        </div>



            <h2 class="display-6 text-center my-5">Your quote is
                <div>
                    <div class="text-center">
                        <p class="my-0">
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </div>
            </h2>
            <p class="fs-5 text-muted text-center">How does the pricing work? <a href="#">Click here</a> to find out more</p>
            <h3 class="display-6 text-center mb-4">Would you like to continue?</h3>
            <div class="row justify-content-center">
                <a href="{% url 'view_bag' %}" class="btn btn-lg btn-outline-black mb-3">Yes, continue to checkout</a>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-lg btn-outline-black mb-3">Not yet, save this quote and get in touch</button>
            </div>
            <div class="row justify-content-center">
                <button type="button" value="Refresh" onClick="refresh(this)" class="btn btn-lg btn-outline-black mb-3">No, start over</button>
            </div>
        </div>

    </div>
</div>

{% endblock %}

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
    
{% endblock %}