{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <style>
    /* carousel for templates */
    
    .carousel {
        min-width:100%;
    }
    
    .carousel-inner {
        width:100%;
        height:250px;
    }
    
    .img-thumbnail {
        max-width: 80px;
        height: auto;
    }
    
    .h-100 {
        height: 100%;
    }
   </style>
    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center align-items-center">
            <div class="col-12 mx-auto text-center">
                <div class="row">
                    <div class="col-md-10 col-lg-9">
                        <h2>{{ product.name }}</h2>
                        <!-- Carousel -->
                        <div id="productCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                            <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#productCarousel" data-slide-to="1"></li>
                            <li data-target="#productCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                            <div class="carousel-item active">
                                {% if product.image_home %}
                                    <img src="{{product.image_home.url}}" class="d-block w-100" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product.image_list %}
                                    <img src="{{product.image_list.url}}" class="d-block w-100" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product.image_detail %}
                                    <img src="{{product.image_detail.url}}" class="d-block w-100" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </div>
                            </div>
                            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-lg-3">
                        <!-- Thumbnail sidebar -->
                        <div class="d-none d-md-flex flex-column align-items-start thumbnail-sidebar">
                            <a data-target="#productCarousel" data-slide-to="0" href="#" class="mb-2">
                                {% if product.image_home %}
                                    <img src="{{product.image_home.url}}" class="img-thumbnail" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </a>
                            <a data-target="#productCarousel" data-slide-to="1" href="#" class="mb-2">
                                {% if product.image_list %}
                                    <img src="{{product.image_list.url}}" class="img-thumbnail" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </a>
                            <a data-target="#productCarousel" data-slide-to="2" href="#" class="mb-2">
                                {% if product.image_detail %}
                                    <img src="{{product.image_detail.url}}" class="img-thumbnail" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </a>
                        </div>
                        <div class="d-md-none d-flex flex-row justify-content-center align-items-center mt-3">
                            <a data-target="#productCarousel" data-slide-to="0" href="#" class="mx-1">
                                {% if product.image_home %}
                                    <img src="{{product.image_home.url}}" class="img-thumbnail" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </a>
                            <a data-target="#productCarousel" data-slide-to="1" href="#" class="mx-1">
                                {% if product.image_home %}
                                    <img src="{{product.image_list.url}}" class="img-thumbnail" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </a>
                            <a data-target="#productCarousel" data-slide-to="2" href="#" class="mx-1">
                                {% if product.image_home %}
                                    <img src="{{product.image_detail.url}}" class="img-thumbnail" alt="Product Image">
                                {% else %}
                                    <p>no image</p>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="justify-content-center mt-4">
                        <p>{{ product.description }}</p>
                        <p>{{ product.price }}</p>
                        <input type="submit" class="btn btn-black  text-uppercase my-5" value="Add to bag">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>    
                </div>
            </div>
        </div>
    </form>
    {% if request.user.is_superuser %}
        <div class="row justify-content-center align-items-center">
            <small class="text-center" style="margin-bottom:100px;">
                <p>You are seeing this because you are logged in as admin:</p>
                <a class="btn" href="{% url 'edit_product' product.id %}">Edit</a> | 
                <a class="btn text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            </small>
        </div>
    {% endif %}
</div>
    
{% endblock %}

{% block postloadjs %}
<script>
    $(function() {
    $('.btn-group .btn').click(function() {
        $(this).toggleClass('active');
        var selected = $('.btn-group .btn.active').map(function() {
            return $(this).val();
        }).get().join(',');
        $('#id_product_size').val(selected);
    });
});
</script>
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}