{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="animation">Html Templates for sale</h2>
                <p class="text-muted mb-5 animation">Select what you need</p>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card text-center h-100 animation">
                        <div class="card-body d-flex flex-column">
                            <a href="{% url 'template_detail' product.id %}">
                                <img src="{{product.image_home.url}}" alt="product image" width="300px" height="auto" />
                                <a>
                            <a href="{% url 'template_detail' product.id %}">
                                <h5 class="card-title">{{ product.name }}</h5>
                              </a>   
                              <span class="text-muted" style="font-style: oblique;">Price: </span><span class="card-text" style="font-style: oblique;">${{ product.price }}</span>
                              <p class="card-text mt-3 flex-grow-1">{{ product.description }}</p>   
                              <a class="btn btn-black " href="{% url 'template_detail' product.id %}">View</a>                        
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if request.user.is_superuser %}
            <small class="row justify-content-center align-items-center">
                <div class="text-center" style="margin-bottom:100px;" >
                    <p style="margin-top:50px;" >You are seeing this because you are logged in as admin:</p>
                    <a class="btn btn-black " href="{% url 'add_product'%}">Add a template</a>
                </div>
            </small>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

{% endblock %}